body {
    font-family: Arial;
    padding: 20px;
}

input, select, button {
    padding: 8px;
    margin: 5px;
}

pre {
    background: #111;
    color: #0f0;
    padding: 15px;
    margin-top: 15px;
}
